:root {
    --primary-color: #444444;
    --primary-text-color: #CCCCCC;
    --secondary-color: #FF7300;
    --secondary-text-color: #000000;
    --accent-color: #B8EF98;
}

body {
    min-width: 650px;
}

/* smooth scroll behavior for clicking links and page refresh */

* {
    scroll-behavior: smooth;
}

/* ***************************************  HEADER  **************************************** */

header {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    min-height: 80px;
}

/* all elements in header have 20px of padding */
header > * {
    margin: auto 0;
    padding: 20px;
}

/* page title to the left */
header h1 {
    color: var(--secondary-text-color);
    font-size: 200%;
    margin-left: 40px;
}

/* nav bar to the right */
header nav {
    float: right;
    width: 20%;
    min-width: 300px;
    margin-right: 40px;
    padding-left: 0px;
    padding-right: 0px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
}

.nav-list li {
    position: relative;
    display: inline;
    font-size: 80%;
    font-weight: 900;
}

/* links in navbar have secondary text color and no underline */
.nav-list li a {
    color: var(--secondary-text-color);
    text-decoration: none;
}

/* align header text and nav bar items to center of screen for small screen sizes */
/* @media screen and (max-width: 450px) {
    header {
        align-items: center;
    }

    header h1 {
        text-align: center;
    }
} */

/* change flex header and navbar vertically for small and medium screen sizes */
/* also inherit left and right margins of header elements to align them cleanly on the left side of the header*/
@media screen and (max-width: 700px) {
    header {
        align-items: center;
        flex-direction: column;
    }

    header h1 {
        font-size: 250%;
        text-align: center;
        margin-left: inherit;
    }

    header nav {
        margin-right: inherit;
        width: 80%;
    }
    
    .nav-list li {
        font-size: 120%;
    }
}

/* **************************************  MAIN BODY  ***************************************** */

.main-body-img {
    height: 400px;
    width: 100%;
    background-image: url("../images/header-background-image.png");
    background-size: cover;
    background-position: left top -175px;
}

main {
    padding-top: 20px;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    display: grid;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 1000px;
    grid-template-areas: 
    'about-me-header    about-me-content  '
    'work-header        work-content      '
    'work-header        work-content      '
    'work-header        work-content      '
    'work-header        work-content      '
    'work-header        work-content      '
    'work-header        work-content      '
    'work-header        work-content      '
    'contact-me-header  contact-me-content'
    ;
}

/* Grid Layout */
.about-me-header {
    grid-area: about-me-header;
}
.work-header {
    grid-area: work-header;
}
.contact-me-header {
    grid-area: contact-me-header;
    margin-top: auto;
    margin-bottom: auto;
}
.about-me-content {
    grid-area: about-me-content;
}
.work-content {
    grid-area: work-content;
}
.contact-me-content {
    grid-area: contact-me-content;
}

main > * {
    padding: 5px 10px;
    margin: 20px 0;
}

main h1 {
    border-right: var(--primary-text-color);
    border-right-width: 5px;
    border-right-style: solid;
    margin-left: 50px;
    text-align: right;
    font-size: 240%;
    width: 170px;
}

main p {
    margin-right: 50px;
}

main ul {
    margin: auto 0;
    display: flex;
    justify-content: space-around;
}

main ul li {
    padding: 20px;
    font-size: 120%;
}

/* change min-height for small and medium screen sizes */
@media screen and (max-width: 700px) {
    main {
        min-height: 1200px;
        display: flex;
    }

    main h1 {
        display: flex;
        justify-content: center;
        border-right: var(--primary-text-color);
        border-right-width: none;
        border-right-style: none;
        text-align: center;
        font-size: 240%;
        width: auto;

        /* left right margins to 20 for consistency */
        margin-left: 20px;
        margin-right: 20px; 
        margin-top: 20px; /* remove auto margin*/
        margin-bottom: 0px; /* remove margin on bottom to make header closer to actual tabs */
    }

    main p {
        font-size: 150%;
    }

    .work-content {
        margin-top: auto;
        margin-bottom: auto;
    }


    /* set this one manually for some reason or else it doesn't actually stop automatically scaling */
    .contact-me-header {
        margin-top: 20px;
        margin-bottom: 0px;
    }

    main ul {
        margin: 20px;
    }
}

/* ***************************************  FOOTER  ****************************************** */

footer {
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
}

