:root {
    --primary-color: #444444;
    --primary-text-color: #CCCCCC;
    --secondary-color: #FF7300;
    --secondary-text-color: #000000;
    --accent-color: #B8EF98;
}

header {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
}

/* all elements in header have 8px of padding */
header > * {
    margin: auto 0;
    padding: 20px;
}

/* page title floats off to the left*/
header h1 {
    color: var(--secondary-text-color);
    font-size: 200%;
}

.nav-bar {
    float: right;
    width: 20%;
    min-width: 300px;
}

.nav-bar ul {
    display: flex;
    justify-content: space-between;
}

.nav-bar ul li {
    color: var(--secondary-text-color);
    display: inline;
    font-size: 120%;
}

.main-body-content {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}

footer {
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
}

/* 500 700 900 ranges */
